<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.androidhive.loginandregister"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".LoginActivity"
                  android:label="Meet-n-eat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  Entry for RegisterActivity.class -->
        <activity android:name=".RegisterActivity"
        		  android:label="Register New Account"></activity>

        
        <!-- To Home Page -->
         <activity
      android:name=".HomeActivity"
      android:label="Welcome...">          
 </activity>
 
         <!-- To Plan an Event Page -->
         <activity
      android:name=".PlanEvent"
      android:label="Plan an Event">          
 </activity>
         
          <activity android:name="com.packagename.FromActivity"></activity>
   <activity android:name="com.packagename.ToActivity"></activity>
   
    </application>
</manifest>